<center><h1> This is admin view </h1></center>


    <h1> Registered Business </h1>
    <%= collection_select(:business, :id, Business.all, :id, :b_name, {}, data:{remote: true}) %> 

    <div id="tasks">
        <%= render "tasks/index", tasks: @tasks %>
        
    </div>    


