// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
select {
    // position: relative;
   // display: block;
    // width: 100%;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: none;
    background: #f1f1f1;
    padding: 2px;
  }
      
  select:hover {
    background-color: dodgerblue;
  }